@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    overflow: hidden;
}

body{
    padding: 0;
    margin: 0;
    height:100vh;
    background: linear-gradient(rgba(0,0,0,0.2),#e5d4fc),url('https://images.unsplash.com/photo-1533066636271-fdbe3e84ad80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    text-align: center;
}

.box{
    background: rgba(0,0,0,0.4);
    width: 450px;
    padding: 40px;
    tex-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;

}
.box-img{
    border: 3px double white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p{
    text-align: justify;
}

ul{
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block;
    margin: 6px;
}
.box li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color: #efcbb4;
}

#sidenav {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #615d4b;
    right: -250px;
    top: 0;
    z-index: 2;
    transition: 0.5s;
    animation: fadeIn 10s;
}

nav ul li {
    list-style: none;
    margin: 50px 0px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li a:hover {
    color: #efcbb4;
}


#menubar {
    width: 50px;
    height: 50px;
    background: transparent;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
    font-size: 30px;
    color: white;
    animation: fadeIn 10s;

}
