@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 3px;
    box-sizing: border-box;
}

body{
    background: #efcbb4;
    padding: 0px 10px;
}

.wrapper{
    max-width: 500px;
    width: 100%;
    background: white;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
}
.wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #efcbb4;
    text-transform: uppercase;
    text-align: center;
}
.wrapper .form {
    width: 100%;
}
.wrapper .form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .form .input_field label{
    width: 200px;
    color: grey;
    margin-right:10px;
    font-size: 14px;

}

.wrapper .form .input_field .input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.wrapper .form .input_field .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
}
.wrapper .form .input_field .custom_select select{
    border: 1px solid #d5dbd9;
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    border-radius: 3px;
    outline: none;

}
.wrapper .form .input_field .input:focus,
.wrapper .form .input_field select:focus{
    border: 1px solid #efcbb4;
}
.wrapper .form .input_field .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #90b094;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}
.wrapper .form .input_field .btn:hover{
    background: #b8e3bd;

}
.wrapper .form .input_field:last-child{
    margin-bottom: 0;
}

#sidenav {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #615d4b;
    right: -250px;
    top: 0;
    z-index: 2;
    transition: 0.5s;
    animation: fadeIn 10s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li a:hover {
    color: #efcbb4;
}


#menubar {
    width: 50px;
    height: 50px;
    background: transparent;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
    font-size: 30px;
    color: white;
    animation: fadeIn 10s;

}

@media (max-width: 600px){
    .wrapper .form .input_field{
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper .form .input_field label{
        margin-bottom: 5px;
    }
}