@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2px;
    overflow: hidden;
}


.bg {
    width: 100vw;
    height:100vh;
    background: linear-gradient(rgba(0,0,0,0.2),#bbe7fc),url('https://images.unsplash.com/photo-1607787393341-ba37949e1c7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    filter: blur(30px);
    position: absolute;
    z-index: -1;
}

.banner-text {
    text-align: center;
    color: white;
    margin: 100px;
    padding: 10px;
    border: 5px double white;
    animation: fadeIn 10s;


}
.loading-text {
    font-size: 50px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.banner-text h1 {
    font-size: 130px;
}

.banner-text h3 {
    font-size: 40px;
}

#sidenav {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #071019;
    right: -250px;
    top: 0;
    z-index: 2;
    transition: 0.5s;
    animation: fadeIn 10s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

#menubar {
    width: 50px;
    height: 50px;
    background: transparent;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
    font-size: 30px;
    color: white;
    animation: fadeIn 10s;

}

@media screen and (max-width: 770px) {
    .banner-text h1 {
        font-size: 44px;
    }

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }